<style type="text/css">
  div, p, h1, h2, ul, li, a  {
    padding: 0px;
    margin: 0px;
    border: none;
  }
  html, body {
    padding: 0px;
    margin: 0px;
    background: #425262 url('images/backdrop.png') no-repeat left top;
    font-family: "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  }
  div#page {
    padding-top: 355px;
    padding-left: 355px;
    width: 100%; 
  }
  div#switch {
    position: absolute;
    top: 30px;
    left: 910px;
  }
  div#switch img {
    height: 30px;
    width: 200px;
  }
  div#contentBox {
    width: 696px;
    padding: 30px;
    background: #ffffff;
    overflow: hidden;
  }
  
  h1 {
    font-size: 1.4em;
    padding-top: 1px;
    width: 100%;
    background: #0000ff;
  }
  ul {
    margin: 0px;
    padding: 5px 0px 0px 8px;
    list-style-type: none;
    text-align: left;
    font-size: .8em;
  }
  li {
    padding-bottom: 5px;
  }
  a {
    color: #D14414;
  }
  
  div.intro {
    width: 350px;
    font-size: .75em;
    float: left;
    padding-right: 15px;
    line-height: 150%;
  }
  div.image_main {
    text-align: right;
  }
  div.image_main img {
    width: 300px;
    padding: 2px;
    border: 3px solid #555555;
  }
  div.columns_wrapper {
    margin-top: 25px;
    clear: both;
    display: table;
    background-image: url("images/homepage/ColumnsBackground.gif");
  }
  div.columns {
    float: left;
    width: 222px;
    height: 100%;
    padding-right: 10px;
    text-align: center;
    display: table-cell;
  }
  div.columns h1 {
    background-image: url("images/homepage/facade.gif")
  }
  div.news {

  }
  div.classNotes {

  }
  div.events {

  }
</style>

<div id="page">

<div id="contentBox">
  <!-- CONTENT HERE -->
</div>

</div>
</div>